/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header{
	display: flex;
	flex-direction: column;
}
.header__editMode{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 15px;
    height: 50px;
    color: white;
    text-align: center;
    background-color: black;
}
.header__title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin: 50px 0;
	gap: 20px;
}
.header__title.logged{
	margin-top: 95px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
a{
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}
li:hover a{
	color: #B1663C;
	cursor: pointer
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.portfolio__title{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 150px 0px 40px 0px;
	gap: 20px;
}
.portfolio__title__modify{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:10px;
	cursor: pointer;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.js-hidden{
	display: none !important;
}

/* Filter Elements */
.galleryFilter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:10px;
	margin-bottom: 30px;
}
.galleryFilter__button{
	border-radius: 50px;
	border-style: solid;
	border-width: 1px;
	height: 37px;
	min-width: 100px;
	border-color: #1D6154;

	font-family: 'Syne';
	color:#1D6154;
	transition: all, 0.5s;
	cursor:pointer;
}
.galleryFilter__button:hover{
	background-color: #80b1a8;
	color: white;
}

.galleryFilter__button-js-selected{
	background-color: #1D6154;
	color: white;
}

/* Forms - Contact & Login */
#contact, 
#login{
	width: 50%;
	margin: auto;
}

#contact, 
#login{
	width:35%
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#login h2{
    margin: 150px 0px 0px 0px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
.modifier__panel__edit__form input,
.modifier__panel__edit__form SELECT{
	box-sizing: border-box;
	height: 50px;
	font-size: 1.2em;
	appearance: none;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login .button{
	height: 35px;
	font-size: 1.0em;
}

#contact label,
#login label,
.modifier__panel__edit__form label {
	margin: 2em 0 1em 0;
}
#contact textarea,
#login textarea{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact a,
#login a{
	text-decoration: underline;
	color: black;
	align-self: center;
	margin-bottom: 240px;
}

#login #passwordError{
    margin-top: 20px;
	align-self: center;
    color: rgb(209, 23, 23);
}


/* Modifier Panel */
.modifier{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.555);
    transition: all 0.4s;
}

.modifier.-active{
    opacity: 100;
    z-index: 1;
    pointer-events: all;
}

.modifier__panel{
	background-color: white;
    border-radius: 10px;
    width: 630px;
    height: 688px;
}

.modifier__panel__button{
	border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    padding-top: 15px;
    height: 30px;
    min-width: 240px;
    border-color: #1D6154;
    background-color: #1D6154;
	
    font-family: 'Syne';
    text-align: center;
    color: white;

    transition: all, 0.5s;
    cursor: pointer;
}

.modifier__panel__button:hover{
	background-color: #80b1a8;
	color: white;
}

/* Modifier Panel - Sections */
/* Content overview */
.modifier__panel__content{
	display:none
}
.modifier__panel__content.-active{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modifier__panel h3{
	font-size: 26px;
	margin-top: 60px;
	margin-bottom: 30px
}
.modifier__panel>i{
    position: relative;
    left: 550px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
}
.modifier__panel__content__elements{
	display: grid;
    box-sizing: border-box;
    padding-bottom: 50px;
    margin-bottom: 20px;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    border-bottom: solid;
    border-width: 1px;
}

.modifier__panel__content__elements .iconContainer{
	position: relative;
    left: 50px;
    bottom: 95px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 9px;
    background-color: black;
    border-radius: 3px;
	cursor:pointer
}

.modifier__panel__content__elements img{
	width: 70px;
	height: 100px;
	object-fit: cover;
}

/* Add Project section */
.modifier__panel__edit{
	display: none;
}

.modifier__panel__edit.-active{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modifier__panel__edit>i{
	position: relative;
    right: 230px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modifier__panel__edit__form{
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 65%;
}

/* Image input main container*/
.modifier__panel__edit__form__imageContainer{
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
	border-radius: 3px;
    background-color: #E8F1F6;

}

.modifier__panel__edit__form__imageContainer i{
	font-size: 60px;
	color: #CBD6DC;
}
.modifier__panel__edit__form__imageContainer label{
    box-sizing: border-box;
    background-color: #CBD6DC;
	margin-top: 10px;
    width: 170px;
    height: 35px;
    padding: 10px 0px 0px 0px;
    border-radius: 50px;
	color: #306685;
	font-weight: bold;
    text-align: center;
	cursor: pointer;
}
.modifier__panel__edit__form__imageContainer input{
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	opacity: 0;
}

/* Image input container -- No image sent */
.modifier__panel__edit__form__imageContainer__input.-active{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modifier__panel__edit__form__imageContainer__preview{
	display: none;
}

/*Image input container -- Image sent */
.modifier__panel__edit__form__imageContainer__input{
	display: none;
}
.modifier__panel__edit__form__imageContainer__preview.-active{
	display: block;
	height: inherit;
	cursor: pointer;
}

.modifier__panel__edit__form .modifier__panel__edit__form__button{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}
.modifier__panel__edit__form .fieldMissing{
	border:solid;
	border-width: 2px;
	border-color: red;
}

.modifier__panel__edit__form__button.nonFilled{
	background-color: gray;
	cursor:auto
}

.modifier__panel__edit__form__dropdown>select,
.modifier__panel__edit__form__field{
	box-sizing: border-box;
	width: 100%;
	padding-left: 20px;
}

.modifier__panel__edit__form__dropdown i{
	position: relative;
    left: 380px;
    bottom: 30px;
    pointer-events: none;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
